
body, html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  overflow-x: hidden;
  font-size: calc(0.75em + 1vmin);
}

a {
  text-decoration: none;
}


@font-face {
  font-family: bevel;
  src: url('../font/3Dumb.ttf');
}

@font-face {
  font-family: alg;
  src: url('../font/sofia.ttf');
}

@font-face {
  font-family: dash;
  src: url('../font/dash.otf');
}

@font-face {
  font-family: lon;
  src: url('../font/lon.ttf');
}


@media screen and (min-width:768px) {
  #p1 {
    flex-direction: row;
  }
  #p1>div:nth-child(3) {
    width: 50%;
  }
 #ds1 {
    top: 120px;
    left: 60%;
    margin-bottom: -80px;
  }
  /*
    */
  #ds2 {
    top: 50px;
    margin-bottom: -1400px;
    left: -420px;
  }
  #k2>div:nth-of-type(3) {
    grid-template-columns: auto auto auto;
  }
  
  #lnav {
    padding-top: 10px;
  }
  
  #nav {
    display: none !important;
  }
  
  #revww {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #part {
    margin-left: 35px;
  }
  
  #end {
    flex-direction: row;
    justify-content: space-around;
  }
  
  #end>div:first-child {
    flex-basis: 20%;
  }
}

@media screen and (max-width:768px) {
  #p1 {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
  }
  
  
  #lnav {
    display: none !important;
  }
  
  #part {
    margin-top: 6rem;
  }
  
  #ds1 {
    left: 340px;
    top: 200px;
    margin-bottom: -100px;
  }
  
  
  #ds2 {
    top: 200px;
    left: -400px;
    margin-bottom: -600px;
  }
  #pc1 {
    width: 200px;
    height: 200px;
    left: 380px;
    top: 500px;
    margin-bottom: -200px;
  }
  
  #k2>div:nth-of-type(3) {
    grid-template-columns: auto auto;
  }
  
  #end {
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    padding-top: 15% !important;
  }
  
  #end>div:first-child {
    order: 4;
  }
  
}

#fav {
  height: 2.9vmax;
}


#can1 {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -5;
  border: none;
}

#nav {
  
}

#lnav>div:nth-child(2) {
  margin-left: auto;
}

#lnav>div:nth-child(2)>a {
  font-size: 1.7vw;
  color: #fff;
  opacity: 0.6;
  padding: 1rem 2rem 1rem 0;
}

#lnav>div:nth-child(2)>a:hover {
  opacity: 1;
  background-color: transparent;
}
#nav {
  position: fixed;
}

#nav, #lnav {
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  z-index: 2;
  align-items: center;
  transition: background-color 2s;
}

#nav>div:first-child, #lnav>div:first-child {
  font-size: 4vw;
  padding: 1rem 0 1rem 1rem;
  font-family: lon;
}

#end>div:first-child {
  font-size: 2.2rem;
  padding: 1rem 0 1rem 1rem;
}

#nav>div:nth-child(2) {
  margin-left: auto;
  padding: 1rem 2rem 1rem 0;
  
  font-weight: 900;
  z-index: 5;
}

#nav>div:nth-child(2)>div {
  width: 30px;
  height: 3px;
  background-color: #ffffff80;
  margin-top: 7px;
}

.na1 {
  transition: 1s;
  transform: translateX(-13px);
}

.na2 {
  transition: 1s;
}

.nava>.na1 {
  transform: translate(5px, 5px) rotate(45deg);
}

.nava>.na2 {
  transform: translate(5px, -5px) rotate(-405deg);
}

.navc {
  width: 100vw !important;
}

#navc {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #000000ee;
  transition: 0.5s;
  overflow-x: hidden;
  display: block;
}

#navc>div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anav {
  transform: translateY(0) !important;
}

#navc a {
  position: relative;
  font-size: 1.5rem;
  color: #ffffff90;
  display: block;
  font-weight: 900;
  padding: 2rem 0 2rem 25%;
  transform: translateY(100vh);
}

#navc a:hover {
  text-decoration: underline;
  text-decoration-color: #a87825;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
  left: 20px;
  color: #fff;
}

#p1 {
  width: 94%;
  padding: 3%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.8s;
  z-index: 1;
}

#p1>div:first-child {
  display: flex;
  flex-direction: column;
}

#p1>div>div:first-child{
  font-size: 4rem;
  font-weight: 900;
}

#p1>div>div:nth-of-type(2) {
  color: #ffffff70;
  font-size: 1.1rem;
  margin: 0 0 1rem;
  font-weight: 500;
  transform: translateY(-3vh);
  transition: 1s;
  opacity: 0;
}

#atxt {
  font-family: lon;
  color: #a87825;
  text-shadow: 2px 0 #fff, -2px 0px #fff,0 -2px #fff, 0 2px #fff;
}

#atxt::after {
  content: '|';
  color: #000;
  text-shadow: 1px 0 #fff, -1px 0px #fff,0 -1px #fff, 0 1px #fff;
  font-family: Sans-Serif;
  font-size: 4.5rem;
  animation: blink 0.5s linear 0s infinite;
}

@keyframes blink {
  0% {
    content: '';
  }
  100% {
    content: '|';
  }
}

#p1 a, #alm a {
  background-color: #a87825;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 5px 5px 10px #ffffff80;
}

#inv {
  width: 70%;
  display: inline-grid;
  gap: 10px;
  margin-top: 30px;
  grid-template-columns: auto auto;
  transition: 1.3s;
  transform: translateX(100%);
}

#inv>div {
  
}

#inv>div>div:first-child {
  font-size: 1.3rem;
  font-weight: 600;
}

#inv>div>div:nth-child(2) {
  color: #ffffff70;
  font-size: 1.1rem;
}

#ds1 {
  position: relative;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), #a87825ff);
  border-radius: 50%;
  border: 2px solid #000;
  z-index: -1;
  opacity: 0.4;
  box-shadow: 5px 5px 10px #00000080;
  animation: jugg 3s linear 0s infinite alternate;
}

#ds2 {
  animation: jugg 3s linear 0s infinite alternate;
  position: relative;
  height: 600px;
  width: 600px;
  background-image: linear-gradient(to left, rgba(0,0,0,0.5), #a87825ff);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.4;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px #00000080;
}

@keyframes jugg {
  from {
    transform: translateY(20px);
  } to {
    transform: translateY(-20px);
  }
}

#p2 {
  border: 2px solid #000;
}

#coin {
  height: 400px;
  width: 400px;
  z-index: -1;
  position: relative;
}

#p3 {
  margin: 4%;
  padding: 3rem 4%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,0), #a8782540);
  border-radius: 5px;
  transition: 0.7s;
  transform: translateX(-150%);
  overflow-x: hidden;
}

#p4 {
  margin: 4%;
  padding: 3rem 4%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0,0,0,0), #a8782540);
  border-radius: 5px;
  text-align: right;
  transition: 1s;
  transform: translateX(150%);
}

#p3>div:first-child, #p4>div:first-child, #k2>div:first-child, #k4>div:first-child, #k5>div:first-child, #revw>div:first-child, #k6>div:first-child, #alm>div>div:first-child, #part>div:first-child {
  font-size: 2rem;
  color: #000;
  text-shadow: 1px 0 #fff, -1px 0px #fff,0 -1px #fff, 0 1px #fff;
  font-weight: 900;
}

#p3>div:nth-of-type(2), #p4>div:nth-of-type(2), #k2>div:nth-of-type(2), #k4>div:nth-of-type(2), #revw>div:nth-of-type(2), #alm>div>div:nth-of-type(2) {
  font-size: 1rem;
  color: #ffffff80;
  margin-top: 5px;
}

hr {
  width: 20vw;
  height: 0.18rem;
  margin-left: 0;
  color: #000;
  background-color: #000;
}

#p4 hr {
  margin-right: 0;
  margin-left: auto;
}

#k2, #k4, #k5, #revww, #k6 {
  margin: 4% 4% 13% 4%;
  padding: 4%;
}

#k2>div:first-child {
  
}

#k2>div:nth-of-type(3) {
  margin-top: 1.87rem;
  display: grid;
  gap: 0.9rem;
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  justify-content: space-around;
  align-items: stretch;
  perspective: 400px;
  width: 100%;
}

#k2 #pks {
  overflow-y: auto;
  transition: 1s;
  
  border: 2px solid #ffffff40;
  border-radius: 10px;
  text-align: center;
  padding: 1.25rem;
  background-color: rgba(0,0,0,0.6);
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#k2 #pks::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

#k2 #pks>div:nth-child(2) {
  font-weight: 900;
  font-size: 1rem;
  color: #a87825;
  margin: 0.3rem 0 0.6rem;
}

#k2 #pks>div:nth-child(3) {
  font-size: 0.8rem;
  color: #ffffff80;
}

#k2 .panim {
  transform: rotateX(70deg);
  font-size: 1rem;
}

#robt {
  width: 100%;
  height: 500px;
}


#st {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: start;
  margin: 1rem 0;
  transition: 0.3s;
}

#st>div:first-child {
  font-size: 1.4rem;
  font-weight: 900;
  text-shadow: 1px 0 #fff, -1px 0px #fff,0 -1px #fff, 0 1px #fff;
  color: #000;
  text-align: center;
}

#st>div:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 900;
  position: relative;
  color: #a87825;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
}

#st .ln {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

#st .ln:nth-child(2) {
  visibility: hidden;
}

@keyframes line {
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dis {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#st>div:nth-child(4) {
  font-size: .8rem;
  margin-left: 2rem;
  color: rgba(255,255,255,0.7);
  height: 50px;
}

#arev {
  margin: 2rem 0;
  height: 400px;
  position: relative;
  perspective: 1000;
  overflow: hidden;
}

#arev>div {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

#imgl {
  position: relative;
  opacity: .3;
  bottom: 100vmin;
  width: 700px;
  left: 40%;
}

#part>div:nth-of-type(2)>div {
  font-family: dash;
  color: #ffffff80;
  display: inline-block;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 1.4rem;
}

@keyframes car {
  from {
    transform: rotateX(0deg);
  } to {
    transform: rotateX(360deg);
  }
}

#arev>div>div {
  backface-visibility: hidden;
  background-color: #000;
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid #ffffff70;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  column-gap: 1rem;
  height: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#arev i {
  border: 2px solid #ffffff70;
  border-radius: 50%;
  padding: .6rem;
  color: #ffffff70;
}

#arev>div>div>div:nth-child(2)>div:first-child {
  font-weight: 900;
  font-size: 1.5rem;
  color: #a87825;
}

#arev>div>div>div:nth-child(2)>div:nth-child(2) {
  margin-top: 1rem;
  color: #ffffff90;
  font-size: 1.3rem;
}

#arev .fadt {
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(125, 125, 125, 0), rgba(125, 125, 125, 0.3), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#arev .fadb {
  position: absolute;
  height: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(125, 125, 125, 0), rgba(125, 125, 125, 0.3), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#k6 {
  
}


#k6>div:nth-child(2)>div {
  background-color: rgba(0,0,0,0.6);
  margin: 0.6rem 0;
  padding: 0.6rem;
   display: grid;
  grid-template-columns: auto;
}

#k6>div:nth-child(2)>div>div:first-child {
  font-weight: 900;
  font-size: 1.3rem;
  color: #a87825;
}

#k6>div:nth-child(2)>div>div:nth-child(2) {
  margin-top: 0.6rem;
  color: rgba(255,255,255,0.7);
  max-height: 0;
  overflow: hidden;
  font-size: .8rem;
  transition: max-height 0.2s ease-out;
}

#k6 .lii {
  opacity: 0;
  transition: .8s;
  transform: translateY(100px);
  box-shadow: 0px 2px 5px grey;
}

#k6 .li {
  font-size: 1rem !important;
}

.active {}

#k6 .li:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


#k6 .active:after {
  content: "\2212";
}

#alm {
  padding: 4%;
  overflow-x: hidden;
  background-color: #222222bb;
  border-radius: 30px 30px 0 0;
  border-top: 2px solid #a87825;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  border-bottom: 2px solid #a87825;
}

#alm>div:first-child {
  font-size: 2rem;
  font-weight: 900;
}

#alm>div:first-child>div:nth-of-type(2) {
  font-size: 1rem;
}

#arev>div>div {
  padding: 10px 0;
}

#arev>div>div>div {
  padding: 15px;
}

#end {
  padding: 4%;
  background-color: #222222bb;
  display: flex;
  flex-wrap: nowrap;
  width: 92%;
}

#end ul {
  list-style-type: none;
  padding: 0;
}

#end>div:first-child {
  font-family: bevel;
  font-size: 1.4rem;
}

#end ul>li:first-child {
  font-weight: 900;
  font-size: 1.4rem;
}

#end ul>li {
  margin-top: 1rem;
  font-size: 1.1rem;
}

#end ul>li>a>i {
  color: #fff;
}

#end ul>li>a {
  color: #ffffff70;
}

#cred {
  background-color: #222222bb;
  text-align: center;
  color: #ffffff70;
  padding: 4%;
  font-size: .8rem;
}

#cred a {
  color: #a87825;
}


